<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="stylesheet" href="/css/register.css"> -->

<!-- <link rel="stylesheet" -->
<!-- 	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

</head>
<body>
	<div>

		<form action="/logout" method="POST">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<button type="submit">Logout</button>
		</form>
	</div>
	
	<div>
		<a th:if="${access.authority} == 'ROLE_ADMIN'" th:href="@{/register/new/employee}">Register</a>
	</div>

	<div>
		<a   href="@{/about-me}">Server: [[${employee.username}]]</a>
	</div>

	
</body>
</html>